OPENAI_API_KEY=''
ANTHROPIC_API_KEY=''

PROALPHA_URL=http://localhost:3001
PROALPHA_TARGET_ID=1

# Required for evaluation and tracing
LANGSMITH_API_KEY='REPLACE_WITH_YOUR_LANGSMITH_KEY'
LANGSMITH_TRACING=true
LANGSMITH_PROJECT='cis-agent'
# Uncomment the following if you are on the EU instance:
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com